body {
  margin: 0;
  font-family: 'Gotham Book';;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  width: 100vw;
  height: 100vh;
}


/* NAV BAR */



.wave {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#wave {
  position:absolute;
  top: 80px;
  left: 55px;
	height: 70px;
	width: 70px;
	fill: rgb(18, 247, 10);
}

#Line_1{
  animation: pulse 1s infinite;
	animation-delay: .15s;
}
#Line_2{
  animation: pulse 1s infinite;
	animation-delay: .25s;
}
#Line_3{
  animation: pulse 1s infinite;
	animation-delay: .35s;
}

#Line_4{
  animation: pulse 1s infinite;
	animation-delay: .45s;
}
#Line_5{
  animation: pulse 1s infinite;
	animation-delay: .55s;
}
#Line_6{
  animation: pulse 1s infinite;
	animation-delay: .65s;
}
#Line_7{
  animation: pulse 1s infinite;
	animation-delay: .75s;
}
#Line_8{
  animation: pulse 1s infinite;
	animation-delay: .85s;
}
#Line_9{
  animation: pulse 1s infinite;
	animation-delay: .95s;
}



@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
	
	50% {
		transform: scaleY(.7);
		transform-origin: 50% 50%;
	}
	
	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}

.navBar {
  position: absolute;
  z-index: 2;
 
  width: 100vw;
}
h1{
  color:rgb(18, 247, 10);
  left: 30px;
  top: 0px;
  font-family: 'Friz Quadrata Regular OS';
  position: absolute;
  font-size: 50px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(18, 247, 10);
}
a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgb(18, 247, 10)
}
a:hover{
  text-decoration: none;
}
.navBar a{
  position: absolute;
  z-index: 2;
 top:20px;
  right: 20px;
  font-size: 1.5em;
}

.logout-btn{
  text-decoration: none;
  color: white;
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 80px;
  font-size: 1em;
  text-shadow: 2px 2px 4px rgb(18, 247, 10)
}
 /* GRID */
 .col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }


/* SEARCH BAR */

.SearchBar{
  z-index: 2;
  position:fixed;
  left: 42vw;
  padding-top: 20px;
  
  
}
.SearchBar input{
  border: 0;
  border-bottom: 3px;
  border-color: white;
  padding: 3px 5px 5px 50px;
  margin: 20px auto;
  border-style: solid;
  height: 20px;
  width: 100px;
  background-color:rgba(255, 235, 205, 0);
  color:rgb(18, 247, 10);
  font-family: 'Gotham Book';
  font-size: 1em;
  font-weight: 700;
  background-image: url('./img/search-icon.svg');
  background-size: 27px 23px;
  background-repeat: no-repeat;
}

::placeholder { 
  color:white;
  opacity: 1; 
  text-shadow: 1px 1px 3px rgb(18, 247, 10);
  padding: 5px 
}
.SearchBar input:focus{
  outline: none;
}

/* SIGN UP / LOG IN */

/* .signUp{
  margin-top: 100px;
  position: absolute;
  z-index: 2;
} */
.loginForm{
 
  
  width: 350px;
  height: 500px;
  z-index: 2;
  position: absolute;
  right: -70vw;
  top: 15vh;
  background-color: rgb(18, 247, 10);
  border-radius: 25px;
  transition: all 0.6s cubic-bezier(0.33, 0.72, 0.81, 1.19); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.move-in-right {
  transform: translateX(-108vw); 
  
}
.login{
  margin: 0 auto;
  width: 225px;
  
}
.form-group{
  padding: 20px;
  z-index: 2;
  justify-content: center;
  width: 175px
}
.form-control{
  border: 0;
  border-color: white;
  border-style: solid;
  height: 30px;
  width: 175px;
  background-color:white;
  border-radius: 20px;
  color:rgb(18, 247, 10);
  font-family: 'Gotham Book';
  font-size: 1em;
  font-weight: 700;
  padding-left: 10px;
  
}
.form-control::placeholder { 
  color: rgb(138, 136, 136);
  opacity: 1; 
  
  text-shadow: none;
}

.form-control:focus{
  
    outline: none;
  
}
.btn-access{
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/enter-button.svg');
  background-size: 60px;
  margin: 15px;
  background-repeat: no-repeat;
  background-position: 0%;
  background-position-x: 50%;
}
.btn-access:hover{
  cursor:pointer;
}
.signUpLink{
  font-size: .5em;
  
}
.btn-close{
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  color:rgb(73, 73, 73);
  font-weight: 700;
  position:absolute;
  top:20px;
  right:20px;
}
.btn-close:hover{
  cursor:pointer;
  
}

/* POST FORM */

.post-container{
  position: absolute;
  width: 350px;
  height: 500px;
  right: -70vw; 
  top: 21vh;
  display: flex;
  background-color: rgba(255, 255, 255, 0.555);
  transition: all 0.6s cubic-bezier(0.33, 0.72, 0.81, 1.19); 
  border-radius: 25px;
  border: rgb(18, 247, 10);
  text-align: center;
  
}
.post-form-it{
  padding: 15px;
}
.description input {
  border: 0;
  border-bottom: 3px;
  border-color: rgb(18, 247, 10);
  padding: 3px 5px 5px 5px;
  margin: 20px auto;
  border-style: solid;
  height: 20px;
  width: 160px;
  background-color:rgba(255, 235, 205, 0);
  color: rgb(73, 73, 73);
  font-weight: 700;
  font-size: 15px;
}

.description input:focus{
  outline: none;
}

.description input::placeholder { 
  color: rgb(73, 73, 73);
  opacity: 1; 
  font-weight: 700;
  text-shadow: none;
}

.btn-send{
  border:none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/acess-icon.svg');
  background-size: 24px;
  margin: 15px;
}
.geolocation-btn{
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/location-button.svg');
  background-repeat: no-repeat;
  background-position: 0%;
  background-position-x: 50%;
  background-size: 24px;
  padding: 25px;
  border-radius: 50%;
  width: 50px;
  box-shadow: 1px 1px 3px rgb(73, 73, 73)
}
.audio-controls{
  height: 50%;
 

}

.audio-controls:focus{
  outline: none;
}

.voice-recording-btn{
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/recording-button.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  height: 50px;
  width: 50px;
  margin: 15px;
  padding-right: 10px;
  border-radius: 50%;
  background-position: 0%;
  background-position-x: 50%;
  box-shadow: 1px 1px 3px rgb(73, 73, 73)
}
/* .mic-container{
  align-content: center;
  justify-content: center;
} */
.stop-voice-recording-btn{
  border: none;
  outline:none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/stop-button.svg');
  background-repeat: no-repeat;
  background-position: 0%;
  background-position-x: 50%;
  background-size: 20px;
  width: 50px;
  margin: 15px;
  box-shadow: 1px 1px 3px rgb(73, 73, 73);
}

.btn-post{
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/post-button.svg');
  background-repeat: no-repeat;
  background-position: 0%;
  background-position-x: 50%;
  background-size: 60px;
}

button:hover{
  cursor:pointer;
}


.btn-close:hover{
  cursor:pointer;
  
}

.post-container form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sound-wave{

  /* width: 640px; */
  height: 100px;
 
}

/* INTRO */

.intro-bg {
  /* display:none; */
  background-color: rgb(255, 235, 205);
  color: rgb(18, 247, 10);
  transition: all 2s;
  z-index: 5;
  opacity: 1;
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  
}

#intro-h1{
  color:rgb(18, 247, 10);
  position: relative;
  font-family: 'Friz Quadrata Regular OS';
  z-index: 2;
  font-size: 50px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(18, 247, 10);
  font-size: 100px;
  margin:0;
  top:0;
 left:0px;
}
.intro-bg #wave{
  position: relative;
  fill: rgb(18, 247, 10);
  z-index: 3;
 top:0;
 left:0px;
 width: 100px;
}

.demo7 {
  background-color: rgb(255, 235, 205);
  position: absolute;
  width: 100%;
  height: 100%;
}
.demo7-ball {
  width: 50px;
  height: 50px;
  border-radius: 99px;
  position: absolute;
  border: 4px solid rgb(18, 247, 10);
}
header p{
  position:relative;
  font-weight: 700;
  color: rgb(146, 145, 145);
  font-size: 20px;
  /* text-shadow: 1px 1px 3px rgb(73, 73, 73); */
}
.cesium-viewer .cesium-widget-credits {
  display:none;
}

  
@media (max-width: 600px) {
  .SearchBar{
    left: 10vw;
    
    bottom: 20px;
  }
  .move-in-right{
    transform: translateX(-74vw); 
  }
  .loginForm{
    top:21vh;
  }
  /* .post-container{

  } */

}
  





