body {
  margin: 0;
  font-family: 'Gotham Book';;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main{
  width: 100vw;
  height: 100vh;
}
button:hover{
  cursor:pointer;
}
.link:hover{
  cursor:pointer;
}
.cesium-viewer-infoBoxContainer{
background-color: rgb(255, 235, 205);
top: 200px;
left: 30px;
z-index: 1;
}
.cesium-infoBox{
  background-color: rgb(255, 235, 205);
  top: 50vh;
  right: 30px;
  box-shadow: 2px 2px 4px rgb(18, 247, 10);
  border:0;
  color: rgb(255, 235, 205);
}
.cesium-infoBox-title{
  background-color: rgb(255, 235, 205);
}
.cesium-infoBox-iframe{
  background-color: rgb(255, 235, 205);
}
/* NAV BAR */

#logo {
  height: 100px;
  width: 200px;
  left: 30px;
  top: 0px;
  position: fixed;
  fill:none;
  stroke:#12f70a;
  stroke-width:0.4px;
}
.logo{
  left: 30px;
  top: 0px;
  position: fixed;
  height: 60px;
  width: 200px;
}
.wave {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
#wave {
  position:fixed;
  top: 95px;
  left: 95px;
	height: 70px;
	width: 70px;
	fill: rgb(18, 247, 10);
}
#Line_1{
  animation: pulse 1s infinite;
	animation-delay: .15s;
}
#Line_2{
  animation: pulse 1s infinite;
	animation-delay: .25s;
}
#Line_3{
  animation: pulse 1s infinite;
	animation-delay: .35s;
}

#Line_4{
  animation: pulse 1s infinite;
	animation-delay: .45s;
}
#Line_5{
  animation: pulse 1s infinite;
	animation-delay: .55s;
}
#Line_6{
  animation: pulse 1s infinite;
	animation-delay: .65s;
}
#Line_7{
  animation: pulse 1s infinite;
	animation-delay: .75s;
}
#Line_8{
  animation: pulse 1s infinite;
	animation-delay: .85s;
}
#Line_9{
  animation: pulse 1s infinite;
	animation-delay: .95s;
}
@keyframes pulseRec {
  
  0% {
      box-shadow: 0 0 0 0px rgba(18, 247, 10, 0.685);
  }
  100% {
      box-shadow: 0 0 0 7px rgba(18, 247, 10, 0.685);
  }
}
@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
	50% {
		transform: scaleY(.7);
		transform-origin: 50% 50%;
	}
	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}
.navBar {
  position: absolute;
  z-index: 2;
 
  width: 100vw;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgb(18, 247, 10)
}
a:hover{
  text-decoration: none;
}
.navBar a{
  position: fixed;
  z-index: 2;
  top:40px;
  right: 40px;
  font-size: 1.5em;
  
}
.logout-btn{
  text-decoration: none;
  color: white;
  font-weight: 700;
  position: fixed;
  right: 40px;
  top: 100px;
  font-size: 1em;
  text-shadow: 2px 2px 4px rgb(18, 247, 10)
}
 /* GRID */
 .col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

/* SEARCH BAR */

.SearchBar{
  z-index: 2;
  position:fixed;
  left: 45vw;
  top: 20px; 
}
.SearchBar input{
  border: 0;
  border-bottom: 3px;
  border-color: white;
  padding: 3px 5px 5px 50px;
  margin: 20px auto;
  border-style: solid;
  height: 25px;
  width: 100px;
  background-color:rgba(255, 235, 205, 0);
  color:rgb(18, 247, 10);
  font-family: 'Gotham Book';
  font-size: 1em;
  font-weight: 700;
  background-image: url('./img/search-icon.svg');
  background-size: 27px 23px;
  background-repeat: no-repeat;
}
::placeholder { 
  color:white;
  opacity: 1; 
  text-shadow: 1px 1px 3px rgb(18, 247, 10);
  padding: 5px 
}
.SearchBar input:focus{
  outline: none;
}
button.cesium-infoBox-close:active {
  background-color: rgb(255, 235, 205);
  color: white;
}
.cesium-button:active{
  background-color: rgb(255, 235, 205);
  border-bottom-color: rgb(255, 235, 205);
}

/* SIGN UP / LOG IN */

.loginForm{
  width: 350px;
  height: 500px;
  z-index: 2;
  position: absolute;
  right: -70vw;
  top: 15vh;
  background-color: rgb(18, 247, 10);
  border-radius: 25px;
  transition: all 0.6s cubic-bezier(0.33, 0.72, 0.81, 1.19); 
  display: flex;
  justify-content: center;
  align-items: center;
}
.move-in-right {
  transform: translateX(-108vw); 
}
.login{
  margin: 0 auto;
  width: 225px;
}
.form-group{
  padding: 20px;
  z-index: 2;
  justify-content: center;
  width: 175px
}
.form-control{
  border: 0;
  border-color: white;
  border-style: solid;
  height: 35px;
  width: 175px;
  background-color:white;
  border-radius: 20px;
  color:rgb(18, 247, 10);
  font-family: 'Gotham Book';
  font-size: 1em;
  font-weight: 700;
  padding-left: 10px;
}
.form-control::placeholder { 
  color: rgb(138, 136, 136);
  opacity: 1; 
  text-shadow: none;
}
.form-control:focus{
  outline: none;
}
.btn-access{
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/enter-button.svg');
  background-size: 60px;
  margin: 15px;
  background-repeat: no-repeat;
  background-position: 0%;
  background-position-x: 50%;
}
.btn-access:hover{
  cursor:pointer;
}
.signUpLink{
  font-size: .5em;
}
.btn-close{
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  color:rgb(73, 73, 73);
  font-weight: 700;
  position:absolute;
  top:20px;
  right:20px;
}
.btn-close:hover{
  cursor:pointer;
}

/* POST FORM */

.post-container{
  position: absolute;
  width: 350px;
  height: 500px;
  right: -70vw; 
  top: 21vh;
  display: flex;
  background-color: rgba(255, 255, 255, 0.555);
  transition: all 0.6s cubic-bezier(0.33, 0.72, 0.81, 1.19); 
  border-radius: 25px;
  border: rgb(18, 247, 10);
  text-align: center;
}
.post-form-it{
  padding: 15px;
}
.description input {
  border: 0;
  border-bottom: 3px;
  border-color: rgb(18, 247, 10);
  padding: 3px 5px 5px 5px;
  margin: 20px auto;
  border-style: solid;
  height: 20px;
  width: 160px;
  background-color:rgba(255, 235, 205, 0);
  color: rgb(73, 73, 73);
  font-weight: 700;
  font-size: 15px;
}
.description input:focus{
  outline: none;
}
.description input::placeholder { 
  color: rgb(73, 73, 73);
  opacity: 1; 
  font-weight: 700;
  text-shadow: none;
}
.btn-send{
  border:none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/acess-icon.svg');
  background-size: 24px;
  margin: 15px;
}
.geolocation-btn{
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/location-button.svg');
  background-repeat: no-repeat;
  background-position: 0%;
  background-position-x: 50%;
  background-size: 24px;
  padding: 25px;
  border-radius: 50%;
  width: 50px;
  box-shadow: 1px 1px 3px rgb(73, 73, 73)
}
.audio-controls:focus{
  outline: none;
}
.voice-recording-btn{
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/recording-button.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  height: 50px;
  width: 50px;
  margin: 15px;
  padding-right: 10px;
  border-radius: 50%;
  background-position: 0%;
  background-position-x: 50%;
  box-shadow: 1px 1px 3px rgb(73, 73, 73)
}
.pulse-rec{
  animation: pulseRec 1s infinite;
	animation-delay: .15s;
}
.stop-voice-recording-btn{
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/stop-button.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  height: 50px;
  width: 50px;
  margin: 15px;
  padding-right: 10px;
  border-radius: 50%;
  background-position: 0%;
  background-position-x: 50%;
  box-shadow: 1px 1px 3px rgb(73, 73, 73)
}
.btn-post{
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0);
  background-image: url('./img/post-button.svg');
  background-repeat: no-repeat;
  background-position: 0%;
  background-position-x: 50%;
  background-size: 60px;
}
.btn-close:hover{
  cursor:pointer; 
}
.post-container form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sound-wave{
  height: 100px;
}

/* INTRO */

.intro-bg {
  background-color: rgb(255, 235, 205);
  color: rgb(18, 247, 10);
  transition: all 2s;
  z-index: 5;
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}
#logo-intro {
  width: 300px;
  position: relative;
  fill: none;
  stroke: #12f70a;
  stroke-width: 0.4px;
}
.st0{fill:none;stroke:#12F70A;stroke-width:0.4;}
.intro-bg #wave{
  position: relative;
  fill: rgb(18, 247, 10);
  z-index: 3;
 top:0;
 left:0px;
 width: 100px;
}
.demo7 {
  background-color: rgb(255, 235, 205);
  position: absolute;
  width: 100%;
  height: 100%;
}
.demo7-ball {
  width: 50px;
  height: 50px;
  border-radius: 99px;
  position: absolute;
  border: 4px solid rgb(18, 247, 10);
}
header p{
  position:relative;
  font-weight: 700;
  color: rgb(146, 145, 145);
  font-size: 20px;
}
.cesium-viewer .cesium-widget-credits {
  display:none;
}
.error{
  color: rgb(245, 123, 41);
  text-align: center;
  padding-bottom: 5px;
}
@media (max-width: 600px) {
  .SearchBar{
    left: 10vw;
    top:87vh;
    bottom: 20px;
  }
  .move-in-right{
    transform: translateX(-74vw); 
  }
  .navBar a {
    position: fixed;
    z-index: 2;
    top: 50px;
    right: 20px;
    font-size: 1.5em;
  }
  .loginForm{
    top:15vh;
  }
  .logout-btn {
    right: 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    position: fixed;
    bottom: 40px;
    top: 93vh;
    font-size: 1em;
    text-shadow: 2px 2px 4px rgb(18, 247, 10);
}
}